apiVersion: v1
kind: ImageStream
metadata:
  name: "{{ meta.name }}-hello-world"
  namespace: "{{ meta.namespace }}"
spec:
  tags:
    - name: latest
      from:
        kind: ImageStreamTag
        name: "{{ hello_world_is_image_latest_tag }}"
      referencePolicy:
        type: Source
    - name: "{{ hello_world_is_image_tag }}"
      from:
        kind: DockerImage
        name: "{{ hello_world_is_image_name }}"
      referencePolicy:
        type: Source
