apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: "{{ meta.name }}-hello-world"
  namespace: "{{ meta.namespace }}"
spec:
  replicas: {{ hello_world_dc_replicas }}
  selector:
    name: "{{ meta.name }}-hello-world"
  template:
    metadata:
      labels:
        name: "{{ meta.name }}-hello-world"
    spec:
      containers:
        - name: hello-world
          image: "{{ hello_world_dc_image }}"
          imagePullPolicy: IfNotPresent
          ports:
          - containerPort: 8080
            protocol: TCP
          readinessProbe:
            httpGet:
              path: /
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 20
            periodSeconds: 20
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          resources:
            requests:
              cpu: "{{ hello_world_dc_resources_requests_cpu }}"
              memory: "{{ hello_world_dc_resources_requests_memory }}"
            limits:
              cpu: "{{ hello_world_dc_resources_limits_cpu }}"
              memory: "{{ hello_world_dc_resources_limits_memory }}"
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
  triggers:
    - type: ConfigChange
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
          - hello-world
        from:
          kind: ImageStreamTag
          name: "{{ meta.name }}-hello-world:latest"
          namespace: "{{ meta.namespace }}"
        lastTriggeredImage: "{{ hello_world_dc_image }}"
